.nevtrehTabletView, .loginTabletView, .signupTabletView, .orderTabletView, .urgeljluulehTabletView {
    position: absolute;
    width: 90%;
    max-width: 340px;
    left: calc((100% - 340px)/2);
    height: 40px;
    border: 1px solid #F17228;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #F17228;
}

.nevtrehTabletView{
    top: 35%;
}

.loginTabletView{
    top: 35%;
}

.urgeljluulehTabletView {
    top: 27%;
}

.signupTabletView {
    top: 40%;
    color: #F17228;
    background: #FFFFFF;
}

.burtguulehTabletView {
    top: 40%;
    color: #F17228;
    background: #FFFFFF;
}

.orderTabletView {
    top: 82%;
    border-radius: 0;
    width: 384px;
}

.zahialahTabletView {
    top: 82%;
    border-radius: 0;
    width: 443px;
}
