.nevtrehMobileView, .loginMobileView, .signupMobileView, .orderMobileView {
    position: absolute;
    width: 90%;
    height: 40px;
    left: 20px;
    border: 1px solid #F17228;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #F17228;
}

.nevtrehMobileView{
    top: 380px;
}

.loginMobileView{
    top: 470px;
}

.signupMobileView {
    top: 470px;
    color: #F17228;
    background: #FFFFFF;
}

.orderMobileView {
    top: 610px;
}
