.cards {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 156px;
    margin: 10px;
    padding: 20px;
}

.cards img {
    margin: 10px;
    border-radius: 7px;
}

.cards p {
    font-weight: bold;
}

.cards span {
    font-weight: bold;
    color: #F17228;
}