@media (max-width: 375px) {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

    .backimg {
        background-image: url('../img/base.feature.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .info-box {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-top: 30px !important;
    }

    .info-box:last-child {
        margin-bottom: 30px;
    }

    .info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }

    .info-text h2 {
        font-size: 14px;
        margin: 0;
        font-weight: 700;
    }

    .info-text h3 {
        font-size: 12px;
        margin: 0;
        font-weight: 400;
    }
}

@media (min-width: 376px) and  (max-width: 835px) {
    .backimg {
        position: absolute;
        left: 0;
        width: 100%;
        background: hsla(22, 88%, 55%, 1);
        background: linear-gradient(270deg, hsla(22, 88%, 55%, 1) 0%, hsla(22, 88%, 55%, 0.2) 0%, hsla(60, 100%, 100%, 1) 29%, hsla(60, 100%, 100%, 1) 79%);
        background: -moz-linear-gradient(270deg, hsla(22, 88%, 55%, 1) 0%, hsla(22, 88%, 55%, 0.2) 0%, hsla(60, 100%, 100%, 1) 29%, hsla(60, 100%, 100%, 1) 79%);
        background: -webkit-linear-gradient(270deg, hsla(22, 88%, 55%, 1) 0%, hsla(22, 88%, 55%, 0.2) 0%, hsla(60, 100%, 100%, 1) 29%, hsla(60, 100%, 100%, 1) 79%);
    }
    .info-box {
        display: flex;
        flex-direction: row;
        margin-top: 50px !important;
        margin-bottom: 50px;
    }

    .info-panel:first-child {
        margin-left: 72.5px;
    }
    .info-panel:last-child{
        margin-right: 72.5px;
    }

    .info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }

    .info-text h2 {
        font-size: 14px;
        margin: 0;
        font-weight: 700;
    }

    .info-text h3 {
        font-size: 12px;
        margin: 0;
        font-weight: 400;
    }
}@media (min-width: 835px){
    .backimg {
        position: absolute;
        left: 0;
        width: 100%;
        background: hsla(22, 88%, 55%, 1);
        background: linear-gradient(270deg, hsla(22, 88%, 55%, 1) 0%, hsla(22, 88%, 55%, 0.2) 0%, hsla(60, 100%, 100%, 1) 29%, hsla(60, 100%, 100%, 1) 79%);
        background: -moz-linear-gradient(270deg, hsla(22, 88%, 55%, 1) 0%, hsla(22, 88%, 55%, 0.2) 0%, hsla(60, 100%, 100%, 1) 29%, hsla(60, 100%, 100%, 1) 79%);
        background: -webkit-linear-gradient(270deg, hsla(22, 88%, 55%, 1) 0%, hsla(22, 88%, 55%, 0.2) 0%, hsla(60, 100%, 100%, 1) 29%, hsla(60, 100%, 100%, 1) 79%);
    }
    .info-box {
        display: flex;
        flex-direction: row;
        margin-top: 46px !important;
        margin-bottom: 46px !important;
    }

    .info-panel{
        border: white solid;
        border-radius: 30px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        margin: 48px !important;
    }

    .info-panel:first-child {
        margin-left: 215.5px;
    }
    .info-panel:last-child{
        margin-right: 215.5px;
    }

    .info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }

    .info-text h2 {
        font-size: 18px;
        margin: 0;
        font-weight: 700;
    }

    .info-text h3 {
        font-size: 14px;
        margin: 0;
        font-weight: 400;
    }
}