.field-contianer {
  /* background-color: lavender; */
  /* padding: 0px 20px; */
}

.form, button{
  width: 100%;
}

.underline {
  text-decoration-line: underline;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  color: #828282;
  font-size: 12px;
  margin: 11.5px 0;
}

.forgotPass {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: none;
  color: #171717;
  /* margin-top: 10px; */
  /* background-color: #828282; */
  
}

/* a:hover {
    color: #F17228;
} */

.agreeTo {
  margin-bottom: 15px;
  /* background-color: lavender; */
  /* width: 100%; */
  /* max-width: 100px; */
}