@media only screen and (max-width: 600px) {

 .search {
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: auto;
    transition: width 450ms ease-in-out;
  }
  
  .search__input {
    border: 0;
    padding: .25em 1.75em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    opacity: 0;
    cursor: pointer;
  }
  
  .search__submit {
    margin-left: auto;
    background: transparent;
    border: 0;
  }
  
  .search:focus-within {
    width: 100%;
    border: 1px solid #FBC5A6;
  }
    
    .search__input {
      opacity: 1;
      z-index: initial;
    }
    

  .search__submit:hover,
  .search__submit:focus {
    outline: 0;
  }
}